<nav role="navigation">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">JeffReads</a>

            <ul class="right hide-on-med-and-down">
                <li><a href="">Signup</a></li>
                <li><a href="">Login</a></li>
            </ul>

            <!-- mobile side navbar -->
            <ul id="nav-mobile" class="side-nav">
                <li><a href="">Signup</a></li>
                <li><a href="">Login</a></li>
            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse white-text"><i class="material-icons">menu</i></a>
    </div>
</nav>